{
    "require": [
      "@babel/register"
    ],
    "sourceMap": false,
    "instrument": false,

    "check-coverage": true,
    "per-file": true,
    "lines": 99,
    "statements": 99,
    "functions": 99,
    "branches": 99,
    "include": [
        "src/**/*.js"
    ],
    "exclude": [
        "src/cli.js",
        "src/index.js"
    ],
    "ignore-class-method": "methodToIgnore",
    "reporter": [
        "lcov",
        "text-summary"
    ],
    "cache": true,
    "all": true,
    "temp-dir": "./cache/nyc",
    "report-dir": "./reports/tests/unit/coverage"
}
